<div class="d-flex flex-column align-items-center bg-color shadow sidebar-border" style="height:100vh; position:fixed">
    <ul class="p-4 d-flex flex-column justify-content-around align-items-center" style="height:100%">
        <li
            class="d-flex flex-column"
            *ngFor="let section of sections" 
        >
            <a 
                routerLink="{{ section.route }}" 
                routerLinkActive="active" 
                ariaCurrentWhenActive="page"
                class="d-flex flex-column align-items-center"
            >
                <img src="{{ section.iconUrl }}">
                <span style="max-width: 100px;" class="text-center">{{ section.title }}</span>
            </a>
        </li>
    </ul>
</div>
